<settings>

<!-- GENERAL SECTION -->
    <category label="30510">
		<setting type="lsep" label="30512" />
        <setting id="create_scene" type="action" label="9007" action="RunScript(script.service.hue,create_hue_scene)" />
        <setting id="delete_scene" type="action" label="9008" action="RunScript(script.service.hue,delete_hue_scene)" />

<!-- Bridge -->
        <setting type="lsep" label="30500" />
        <setting id="discoverBridge" type="action" label="30501" action="RunScript(script.service.hue,discover)" option="close"/>
        <setting id="bridge_ip" type="text" label="30502" enable="false" default="" />
        <setting id="bridge_user" type="text" label="30503" enable="false" default="" visible="false" />
    </category>

<!--  GROUP SECTION  0 VIDEO-->    
    <category label="32100">
        <setting id="group0_enabled" type="bool" label="30520" default="false" />
        <!--  Group playback start setting -->
        <setting type="sep" visible="eq(-1,true)" />
        <setting id="group0_start_behavior" type="bool" label="30513"  visible="eq(-2,true)" />
        <setting id="group0_start_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-3,true)" />
        <setting id="group0_start_select_scene" type="action" label="32512" enable="true" action="RunScript(script.service.hue,sceneSelect,0,start)" visible="eq(-2,true) + eq(-4,true)" option="close" />
        <setting id="group0_start_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />

        <!--  Group playback pause setting -->
        <setting type="sep"  visible="eq(-6,true)"/>
        <setting id="group0_pause_behavior" type="bool" label="30514"  visible="eq(-7,true)" />
		<setting id="group0_pause_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-8,true)" />
        <setting id="group0_pause_select_scene" type="action" label="32512" enable="true" action="RunScript(script.service.hue,sceneSelect,0,pause)" visible="eq(-2,true) + eq(-9,true)" option="close"/>
        <setting id="group0_pause_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />

		<!--  Group playback stop setting --> 
        <setting type="sep" visible="eq(-11,true)"/>
        <setting id="group0_stop_behavior" type="bool" label="30515"  visible="eq(-12,true)"/>
        <setting id="group0_stop_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-13,true)" />
        <setting id="group0_stop_select_name" type="action" label="32512" enable="true" action="RunScript(script.service.hue,sceneSelect,0,stop)" visible="eq(-2,true) + eq(-14,true)" option="close"/>
        <setting id="group0_stop_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />
    </category>
<!--  /GROUP SECTION  0-->

<!-- VIDEO ACTIVATION  --> 
    <category label="Video Activation">
        <setting id="video_minimum_duration" type="number" label="30800" default="0" />
        <setting id="video_movie" type="bool" label="30801" default="True" />
        <setting id="video_episode" type="bool" label="30802" default="True" />
        <setting id="video_music_video" type="bool" label="30803" default="True" />
        <setting id="video_other" type="bool" label="30804" default="True" />
	</category>

<!--  GROUP SECTION  1 AUDIO -->    
    <category label="32102">
        <setting id="group1_enabled" type="bool" label="30520" default="false" />
        <!--  Group playback start setting -->
        <setting type="sep" visible="eq(-1,true)" />
        <setting id="group1_start_behavior" type="bool" label="30513"  visible="eq(-2,true)" />
        <setting id="group1_start_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-3,true)" />
        <setting id="group1_start_select_scene" type="action" label="32512" action="RunScript(script.service.hue,sceneSelect,1,start)" visible="eq(-2,true) + eq(-4,true)" option="close" />
        <setting id="group1_start_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />

        <!--  Group playback pause setting -->
        <setting type="sep"  visible="eq(-6,true)"/>
        <setting id="group1_pause_behavior" type="bool" label="30514"  visible="eq(-7,true)" />
		<setting id="group1_pause_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-8,true)" />
        <setting id="group1_pause_select_scene" type="action" label="32512" action="RunScript(script.service.hue,sceneSelect,1,pause)" visible="eq(-2,true) + eq(-9,true)" option="close"/>
        <setting id="group1_pause_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />

		<!--  Group playback stop setting --> 
        <setting type="sep" visible="eq(-11,true)"/>
        <setting id="group1_stop_behavior" type="bool" label="30515"  visible="eq(-12,true)"/>
        <setting id="group1_stop_scene_name" type="text" label="30036" default="Not selected" enable="false" visible="eq(-1,true) + eq(-13,true)" />
        <setting id="group1_stop_select_name" type="action" label="32512" action="RunScript(script.service.hue,sceneSelect,1,stop)" visible="eq(-2,true) + eq(-14,true)" option="close"/>
        <setting id="group1_stop_scene_id" type="text" label="32511"  default="-1" enable="false" visible="false" />
    </category>
<!--  /GROUP SECTION  0-->
 

<!--  GROUP SECTION  3 AMBILIGHT -->    
    <category label="30523">
    	<setting type="lsep" label="30521" />
        <setting id="group3_enabled" type="bool" label="30520" default="false" />
        <setting id="group3__select_lights" type="action" label="30015" action="RunScript(script.service.hue,ambiLightSelect,3)" visible="eq(-1,true)" option="close" />
        <setting id="group3_light_names" type="text" label="30058"  default="-1" enable="false" visible="eq(-2,true)"/>
        
        <setting type="sep" label="" visible="eq(-3,true)"/>
        <setting id="group3_force_on" type="bool" label="30057"  default="false" visible="eq(-4,true)"/>
        <setting id="group3_min_brightness" type="slider" label="30810"  range="1,1,100" default="10" option="percent" enable="true" visible="eq(-5,true)"/>
        <setting id="group3_max_brightness" type="slider" label="30811"  range="1,1,100" default="100" option="percent" enable="true" visible="eq(-6,true)"/>
        <setting id="group3_saturation" type="slider" label="30809"  range="1.00,0.1,5.00" default="1" option="float" enable="true" visible="eq(-7,true)"/>

        <setting type="lsep" label="30522" visible="eq(-8,true)"/>
        <setting id="group3_interval" type="slider" label="30065" default="200" range="0,50,1000" option="int" visible="eq(-9,true)" />
        <setting id="group3_transition_time" type="slider" label="30066" default="200" range="0,50,500" option="int" visible="eq(-10,true)"/>
        <setting id="group3_capture_size" type="slider" label="30067" default="400" range="150,50,1920" option="int" visible="eq(-11,true)"/>
        <setting id="average_process_time" type="text" label="30813"  enable="false" visible="eq(-12,true)"/>
        


        <setting id="group3_Lights" type="text" label="30035"  default="-1" enable="false" visible="false" />
    </category>
<!--  /GROUP SECTION  0-->


<!-- SCHEDULE SECTION -->
    <category label="30511">
        <setting id="force_on_sunset" type="bool" label="30509" default="False" />
        <setting id="daylight_disable" type="bool" label="30508" default="False" />
        <setting type="sep" />
        <setting id="enable_schedule" type="bool" label="30505" default="False" />
		<setting id="start_time" type="time" label="30506" enable="eq(-1,true)" default="18:00"/>
        <setting id="end_time" type="time" label="30507" enable="eq(-2,true)" default="22:00"/>
    </category>

<!-- ADVANCED SECTION -->
	<category label = "32101">
	    <setting id="initial_flash" type="bool" label="5110" default="False" />
        <setting id="reload_flash" type="bool" label="5111" default="False" />
        <setting id="disable_connection_message" type="bool" label="30812" default="False"/>
		<setting id="separate_log_file" type="bool" label="32105" default="False"/>

		
		
	</category>
</settings>


